@import "styles/colors";

main {
    background-image: url(../assets/images/background_1920.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
}

footer {
    height: 4rem;
    background-color: $dark-blue;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1.5rem;
}